[project]
name = "midnight-nvim"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = []

[dependency-groups]
dev = [
    "mypy>=1.18.2",
    "numpy>=2.3.4",
    "pillow>=12.0.0",
    "ruff>=0.14.4",
]
